/gmacs.el
/elpa
/network-security.data
/places
/projectile-bookmarks.eld
/recentf
/auto-save-list
/ido.last
/init copy.el
/desktops
*~
/.lsp-session-v1
/.lsp-python
/eshell
/bookmarks
/ms-pyls
/.lsp-session-v1
/.lsp-python
/eshell
/session*
/#recentf#
/.cache
TAGS
/quelpa
/transient
